<!-- * * * * * Fragments für die Startseite * * * * * -->

<!-- Tabelle zum Anmelden/Registieren (Haupttabelle)-->
<div th:fragment="startseitentabelle" id="Startseitentabelle" class="container">
<!--Note: bei Zugriff via th wird auf die ID referenziert-->
    <table class="table table-bordered table-light">
        <thead>
        <tr>
            <th><h2 class="display-3 text-center">Anmelden</h2></th>
            <th><h2 class="display-3 text-center">Registrieren</h2></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><div th:replace="fragments/startpagefrag.html :: #Anmeldeformular">Hier könnte ihre Anmeldung stehen</div></td>
            <td><div th:replace="fragments/startpagefrag.html :: #Registrierungsformular">Hier könnte ihre Registrierung stehen stehen</div></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Anmeldeseite der Tabelle-->
<div th:fragment="anmeldeformular" id="Anmeldeformular">
    <form method="get" th:action="@{/anmeldung/verifyuser}">
        <div class="form-groop" id="">
            <label for="usernameinput">Anmeldename</label>
            <input class="form-control" type="text" name="name" id="usernameinput" placeholder="Willi123">
            <label for="paswortinput">Passwort</label>
            <input class="form-control" type="password" name="password" id="paswortinput" placeholder="Passwort">
        </div>
        <br>
        <p>
            <button class="btn btn-outline-primary" type="submit">Anmelden</button>
        </p>

        <p><!-- Wenn die Anmeldung schiefgelaufen ist -->
            <span class="alert-warning" th:unless="${verified}">Dein Nutzername oder Passwort sind Falsch</span>
        </p>
    </form>
</div>


<!-- Registrierungsseite der Tabelle-->
<div th:fragment="registrierungsformular" id="Registrierungsformular">
    <form method="post" th:action="@{/registrierung/newuser}">
        <div class="form-groop" id="Registrierung">
            <label for="usernameRegistrierung">Anmeldename</label>
            <input class="form-control" type="text" name="name" id="usernameRegistrierung" placeholder="Neuer Nutzername">
            <label for="paswortRegistrierung">Passwort</label>
            <input class="form-control" type="password" name="password" id="paswortRegistrierung" placeholder="Passwort">
            <label for="paswortWiederholungRegistrierung">Passwort wiederholen</label>
            <input class="form-control" type="password" name="passwordwiederholung" id="paswortWiederholungRegistrierung" placeholder="Passwort nochmal">
            <!-- Wie ist der Status der Registrierung? -->
            <small th:if="${firstVisit}" class="form-text text-muted" id="hinweißPasswortwiederholung">Das Passwort sollte wieder das selbe sein</small>
            <small th:if="${noInputRegi}" class="form-text text-danger" id="noInputRegi">Du musst schon alle Felder ausfüllen</small>
            <small th:if="${falsePassword}" class="form-text text-danger" id="passwortNichtIdentisch">Die Passwörter stimmen nicht überein</small>
            <small th:if="${nameTaken}" class="form-text text-danger" id="nameTaken">Dieser Nutzername wird bereits verwendet...</small>
        </div>
        <br>
        <p>
            <button class="btn btn-outline-primary" type="submit">Registrieren</button>
        </p>
    </form>
</div>
