<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commonfrag.html :: #Stdhead(title='Registrierung Erfolgreich')"></head>

<!-- Mitteilung, das die Registrierung erfolgreich war. Soll später direkt auf denn Feed leiten-->
<body class="container container-sm">
    <h1 class="display-5">Die Registrierung war erfolgreich</h1>
    <p>
        Du hast dich nun erfolgreich registriert. <a th:href="@{/}">Hier</a> geht es zurück zur Anmeldung.
        Da kannst du dich Anmelden und auf deine Userpage zugreifen
    </p>
</body>
</html>